<!-- Modal para Fragmentos de Noticias -->
<div class="modal fade" id="fragmentModal" tabindex="-1" aria-labelledby="fragmentModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="fragmentModalLabel">Detalles del Fragmento de Noticia</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Reproductor de Audio -->
        <audio id="fragment-audio-player" controls class="w-100 my-4">
            Tu navegador no soporta la reproducción de audio.
        </audio>

        <!-- Formulario para detalles del fragmento -->
        <form id="fragmentForm" method="post" action="/fragmentosnoticias/add">
            <!-- Campo desplegable para Medios -->
            <div class="form-group">
                <label for="medioDropdown">Medio</label>
                <select class="form-control" id="medioDropdown" name="medioDropdown">
                    <!-- Las opciones serán llenadas dinámicamente desde la base de datos -->
                </select>
            </div>

            <!-- Campo desplegable para Programas -->
            <div class="form-group">
                <label for="programaDropdown">Programa</label>
                <select class="form-control" id="programaDropdown" name="programaDropdown" disabled>
                    <!-- Las opciones serán llenadas dinámicamente basado en la selección de Medio -->
                </select>
            </div>

            <div class="form-group">
                <label for="fragmentTitle">Descripcion</label>
                <input type="text" class="form-control" id="fragmentTitle" name="fragmentTitle" placeholder="Descripcion del fragmento" required>
            </div>

            <!-- Campo de Fecha de Subida -->
            <div class="form-group">
                <label for="uploadDate">Fecha de Subida</label>
                <input type="date" class="form-control" id="uploadDate" name="uploadDate" required>
            </div>

           <!-- Horas y minutos de inicio -->
            <div class="form-group form-inline">
                <label for="inicioHoras">Inicio:</label>
                <input type="number" class="form-control mx-2" id="inicioHoras" placeholder="Horas" min="0" max="23" required>
                <span>:</span>
                <input type="number" class="form-control mx-2" id="inicioMinutos" placeholder="Minutos" min="0" max="59" required>
            </div>

            <!-- Horas y minutos de final -->
            <div class="form-group form-inline">
                <label for="finalHoras">Final:</label>
                <input type="number" class="form-control mx-2" id="finalHoras" placeholder="Horas" min="0" max="23" required>
                <span>:</span>
                <input type="number" class="form-control mx-2" id="finalMinutos" placeholder="Minutos" min="0" max="59" required>
            </div>

            <input type="hidden" id="audioUrlFrag" name="audio_url_frag" value="">
            <input type="hidden" name="noticia_id" id="noticiaIdInput">
            <button type="submit" class="btn btn-primary">Guardar Fragmento</button>
        </form>
      </div>
    </div>
  </div>
</div>
