<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Crear Usuario</title>
        <!-- CSS de Bootstrap -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container mt-5">
            <h1>Crear Usuario</h1>
            <form action="/crear-usuario" method="post">
                     <div class="form-group">
                    <label for="username">Nombre de usuario:</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Contraseña:</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div class="form-group">
                    <label for="role">Rol:</label>
                    <select name="role" class="form-control">
                        <% if (user.roleName === 'admin') { %>
                            <option value="1">Admin</option>
                            <option value="2">Auditor</option>
                            <option value="3">Cliente</option>
                        <% } else if (user.roleName === 'auditor') { %>
                            <option value="3">Cliente</option>
                        <% } %>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Crear usuario</button>
            </form>
        </div>
    </body>
</html>
